[defaults]
inventory = inventory/hosts.ini
roles_path = roles
interpreter_python = auto_silent
host_key_checking = False
retry_files_enabled = False
result_format = yaml
deprecation_warnings = True

[priviledge_escalation]
become = false
become_method = sudo
become_user = root

